
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></scrip/t>
<script src="/scripts/app.js"></script>
<h4> &nbsp;&nbsp;&nbsp; &copy;Riaz Ahmed--ID:300759573 </h4>


 </body>
</html>