
<!--File name:           footer.ejs
Student name:           Riaz Ahmed
Student Number          300759573
web site name:          Assignment4-300759573
file description:       contains ejs template Code -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></scrip/t>
<script src="/scripts/app.js"></script>
<h6> &nbsp;&nbsp;&nbsp; &copy;Assignment4 Riaz Ahmed Student ID:300759573 </h6>


 </body>
</html>