<!--File name:           footer.ejs
Student name:           Riaz Ahmed
Student Number          300759573
web site name:          Assignment4-300759573
file description:       contains ejs template Code -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <link rel='stylesheet' href='/Content/app.css' />
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"> <img src="/assets/images/logoRiaz.png" class="img-fluid" title="Riaz Ahmed Photo" width="45" height="45"> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <% if(title == "Home Page") { %>
            <li id="Home" class="nav-item active">
              <% } else { %>
                <li id="Home" class="nav-item">
                  <% } %>
                    <a class="nav-link" href="/">
                      <i class="fa fa-home fa-lg"></i> Home</a>
                </li>

                 <% if(title == "Contact Page") { %>
                        <li id="Contact" class="nav-item active">
                          <% } else { %>
                            <li id="Contact" class="nav-item">
                              <% } %>

                                <a class="nav-link" href="/contact">
                                  <i class="fa fa-comment fa-lg"></i> Contact</a>
                            </li>

                <% if(title == "Project Page") { %>
                  <li id="Project" class="nav-item active">
                    <% } else { %>
                      <li id="Project" class="nav-item">
                        <% } %>
                          <a class="nav-link" href="/project">
                            <i class="fa fa-tasks fa-lg"></i> Project</a>
                           
                      </li>

                     
      </div>
    </nav>
  </header>