<!--File name:           index.ejs
Student name:           Riaz Ahmed
Student Number          300759573
web site name:          Assignment4-300759573
file description:       contains ejs template -->
<!-- Bio Form -->
<%- include ../partials/header.ejs %>
    <div class="container">
      <div class="col-md-10 offset-md-1">
        <!-- <h1 class="display-4">Riaz Ahmed's Mini Portfolio </h1> -->
        <h1 id="portfolio" class="display-4">Riaz Ahmed's Mini Portfolio
        </h1>
        <!-- <p id="portfolio"></p> -->
        <p class="lead"></p>
        <hr class="my-4">
      </div>
    </div>

    <!-- Project data -->
    <div class="container">

      <!-- Example row of columns -->
      <div class="row">

        <div class="col-md-7 offset-md-1">
          <article>
            <!-- <h2>Skillset</h2> -->
            <h2 id="skillset">Skillsets</h2>

            <p id="skill1">FileMaker Developer - Develop Cross-Platform Custom Apps</p>
            <!-- <p>FileMaker Developer - Develop Cross-Platform Custom Apps</p> -->

            <p id="skill2">Software Business Analyst - Use state of the art UML methodology and Prototyping</p>
            <!-- <p>Software Business Analyst - Use state of the art UML methodology and Prototyping</p> -->

            <p id="skill3">Software Quality Analyst</p>
            <!-- <p>Software Quality Analyst </p> -->

            <h3 id="swsd"> Software Solutions Developed:</h3>
            <!-- <h3>Software Solutions Developed:</h3> -->

            <p id="solution1">Drug Information App: A truely useful cross-platform app. It comes handy for Doctors and Pharmacists on the move.</p>
            <!-- <p>Drug Information App</p> -->

            <p id="solution2">Patient Care App: A robust quality app that facilitates tracking the progress of physicians being trained in bedside ultrasound is critical to ensure accurate diagnosis and quality patient care.</p>
            <!-- <p>Patient Care App</p> -->

            <p id="solution3">Custom Email App: A boon for busy professionals. It allows non IT people to send emails to friends and clients with just one touch or one click.</p>
            <!-- <p>Custom Email App</p> -->



            <!-- <hr class="my-4"> -->
          </article>
        </div>
        <div class="col-md-3">
          <h2></h2>
          <p>
            <img src="/assets/images/RiazAhmed.jpeg" class="img-fluid" title="Riaz Ahmed Photo" width="250" height="300">
          </p>
          <!-- <p>Mission: To develop robust quality, reasonably priced Custom Business Apps in the fast paced modern world of today </p> -->
          <p id="mission">To develop robust quality, reasonably priced Custom Business Apps in the fast paced modern world of today</p>
        </div>
      </div>
      <!-- /container -->
    </div>

  </div>

  <%- include ../partials/footer.ejs %>