<!--File name:          error.ejs
Student name:           Riaz Ahmed
Student Number:         300759573
web site name:          Assignment4-300759573
file description:       contains ejs template Code -->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
